#administrateOptionsPage{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
}

#administrateOptionsLeft {
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: center;
}

#administrateOptionsRight{
    flex: 8;
}

#adminOptionsUl{
    list-style: none;
    text-align: left;
}

#adminOptionsUl li{
    border: 1px solid black;
}