*{
    margin: 0;
    padding: 0;
}

#attendancePage{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
}

#attendanceLeft {
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: center;
}

#attendanceRight{
    flex: 8;
}

.container{
	display: flex;
	flex-direction: column;
	height: 100%;
	text-align: center;
	margin: 5%;
}

.title{
	flex: 1;
}

.table{
	flex: 2;
	display: block;
}

#infoAttendances{
	flex: 2;
	text-align: left;
}

.dropDown{
	margin-bottom: 2%;
}