#semestersTables{
	display: flex;
	flex-direction: row;
	flex: 3;
	margin-bottom: 20px;
}

.disciplinesDetails{
	display: flex;
	flex-direction: column;
}

#createContractButton{
    align-self: center;
}
#createContractButton:hover {
	background-color: #0d1734
}
#createContractButton:active {
	background-color: #0d1734;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

.title{
	flex: 1;
}

.table{
	height: 80%;
}

#disciplinesSem1{
	margin-right: 20px;
	display: flex;
	flex-direction: column;
}

#disciplinesSem2{
	margin-left: 20px;
	display: flex;
	flex-direction: column;
}

.table{
	margin-top: 20px;
	text-align: left;
	height: auto;
}
