*{
    margin: 0;
    padding: 0;
}

#homePage{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
}

.navBarButton{
    color: white;
    font-weight: 900;
    background-color: #1f4976;
    border: none;
    font-size: 20px;
    margin: 10px;
    text-align: start;
    padding: 10px;

    text-transform: uppercase;
    width: 250px;
    height: 65px;
    margin-bottom: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}

.NavBarItem a{
    color: #FFFFFF;
    text-decoration: none;
}

#homeLeft {
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: center;
}

#homeRight{
    flex: 8;
}

#navBarSeparator{
    height: 15vh;
}

#studentNavBar img{
    margin-top: 2vh;
}