*{
    margin: 0;
    padding: 0;
}

#homePage{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
}

.navBarButton{
    color: white;
    font-weight: 800;
    background-color: #1f4976;
    border: none;
    opacity: 0.9;
    font-size: 17px;
    margin: 10px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    width: 250px;
    height: 65px;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.navBarButton:hover {
    background-color: #0d1734
}
.navBarButton:active {
    background-color: #0d1734;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.NavBarItem a {
    color: #FFFFFF;
    text-decoration: none;
}
.NavBarItem:hover {
    background-color: #afafaf;
    padding: 6px;
    border-radius: 3px;
}

#homeLeft {
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    flex: 2;
    align-items: center;
}

#homeRight{
    flex: 8;
}

#navBarSeparator{
    height: 15vh;
}

#studentNavBar img{
    margin-top: 2vh;
}



.logoutButton{
    color: white;
    font-weight: 600;
    background-color: #505b6b;
    border: none;
    opacity: 0.9;
    font-size: 13px;
    margin: 10px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
}
.logoutButton:hover {
    background-color: #212a3a
}
.logoutButton:active {
    background-color: #212a3a;
    box-shadow: 0 3px #666;
    transform: translateY(4px);
}