*{
    margin: 0;
    border: 0;
    padding: 0;
}

#orar{
    width: 100%;
    height: 100%;
}

#orar table {
    width: 100%;
    height: 100%;
    text-align: center;
    color: black;
    font-weight: 600;
}

#orar table .th{
    background-color: #547598;
    color: white;
    font-weight: 900;
}

#orar table tr{
    background-color: #eeebd3;
}

.red {
    background-color: red;
    height: 100%;
    width: 100%;
}

.green {
    background-color: green;
    height: 100%;
    width: 100%;
}

.yellow {
    background-color: yellow;
    height: 100%;
    width: 100%;
}